test
node_modules
srcEs6
.babelrc
.babelrcSRC
.browserslistrc
.gitignore
.npmignore
rollup.config.dist.js
terser.config.*
*.*OLD
fxSimplex.sublime-project
fxSimplex.sublime-workspace
package.json
package-lock.json
changelog.md